@import 'dependencies';

// Fix modal top position error
.v--modal-overlay .v--modal-background-click {
  height: auto !important;
}

@media (max-width: 425px) {
  .v--modal {
    margin: 0;
  }
  .modal {
    margin: 10px;
  }
}

@media (min-width: 426px) {
  .v--modal-background-click {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .v--modal {
    margin: 30px;
    max-width: 1024px !important;
  }
  .modal {
    margin: 20px;
  }
}