 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Produtos
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="/produtos"><i class="fa fa-dashboard"></i>Produtos</a></li>
        <li class="active">Novo</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Novo Produto</h3>
            </div>

            <div class="box-body">
            
            <!-- /.box-header -->
            
              <form role="form" method="POST">

                <div class="form-group">
                  <label for="product">Item*</label>
                  <input name="product" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="desproduct">Descrição*</label>
                    <input name="desproduct" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="vlprice">Valor(somente números)*</label>
                    <input type="text" data-affixes-stay="true" data-prefix="R$ " data-thousands="." data-decimal="," name="vlprice" class="form-control money" required>
                </div>
                <div class="form-group text-center">
                 <button class="btn btn-success" type="submit">Cadastrar</button>
                </div>

              </form>
            <!-- /.box-body -->
          
            </div>

            <div class="box-footer">
                *Campos obrigatórios
            </div>
           
          </div>
          <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
