 <!-- Content Wrapper. Contains page content -->
 <div id="appFilter" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pedidos <a href="#" class="btn btn-default modalDefault" data-link="request/new" data-id="">Novo</a>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Pedidos</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        
        <div class="box-header with-border">
          <div class="row">
           
            <div class="col-xs-3">
                <div class="form-group">
                  <label>Data de Início</label>
      
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input id="dtStart" type="text" class="form-control pull-right datepicker">
                  </div>
                  <!-- /.input group -->
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                  <label>Data de Término</label>
      
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input id="dtEnd" type="text" class="form-control pull-right datepicker">
                  </div>
                  <!-- /.input group -->
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                  <label>Nome do cliente</label>
                  <input id="clientName" type="text" class="form-control">
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                  <label>Valor Mínimo</label>
                  <input id="minValue" type="text" class="form-control">
                </div>
            </div>
          </div>
          
         
           
        </div>

        <div class="box-body">
            <table class="table table-bordered table-responsive table-hover">
                <thead>
                <tr>
                  <th class="text-center">Identificação</th>
                  <th class="text-center">Data do Pedido</th>
                  <th class="text-center">Valor</th>
                  <th class="text-center">Cliente</th>
                </tr>
                </thead>
                <tbody>

                <tr v-for="item in requestList">
                  <td class="text-center"><a href="#" class="modalDefault" data-link="request/" data-id="">{{item.idrequest}}</a></td>
                  <td class="text-center">{{trataData(item.dt_request)}}</td>
                  <td class="text-center">R$ {{item.idrequest}}</td>
                  <td class="text-center">{{item.desclient}}</td>
                </tr>

                <!--
                {loop="$requests"}
                <tr class="requestList">
                  <td class="text-center"><a href="#" class="modalDefault" data-link="request/{$value.idrequest}" data-id="">{function="formatRequestId($value.idrequest)"}</a></td>
                  <td class="text-center">{function="formatTimeStamp($value.dt_request)"}</td>
                  <td class="text-center">R$ {function="getRqtTotal($value.idrequest)"}</td>
                  <td class="text-center">{$value.desclient}</td>
                </tr>
                {/loop}
              -->
                
                </tbody>
                
              </table>
        </div>
       
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
